.Header {
  padding: 0 1rem;
  height: rem(150);
  figure {
    max-width: rem(600);
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 rem(40);
  }
}
.content-menu{
  background: linear-gradient(to right, #385b7c 0%,#5992cd 50%,#385b7c 100%);
  box-shadow: 0 rem(3) rem(6) rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 100;
  a{
    color: white;
    font-size: rem(12);
    padding: rem(16) 0 rem(14)  ;
    display: block;
    text-transform: uppercase;
  }
  li{
    display: block;
    margin-right: rem(30);
    position: relative;
    &:hover .sub-menu{
      display: block;
    }
    @include respond-to(middle){
      display: inline-block;
    }
  }
}
.menu{
  max-width: $max-width;
  margin: auto;

}
.Header-service{
  background: white;
  .group-h1{
    margin: rem(40);
    @include respond-to(middle){
      margin: 0;
    }
  }

}
.Header-serviceImage{
  display: none;
  @include respond-to(middle){
    display: block;
  }
}
.Header-serviceContent{
  max-width: $max-width;
  margin: auto;
  h1{
    color: #395B7D;
    span{
      display: block;
    }
  }
  figure img{
    max-width: rem(350);
  }
}

.sub-menu{
  display: none;
  position: absolute;
  top:rem(42);
  li{
    width: rem(168);
    background: linear-gradient(to bottom, #ffffff 0%,#cccccc 100%);
  }
  a{
    color: black;
    padding: rem(12) rem(7);
    display: block
  }
}
