@import "lib/settings";
@import "lib/fonts";
@import "lib/general";
@import "lib/grid";

$maxWidth: 75rem;

body {
  background: radial-gradient(ellipse at center, #e5e5e5 1%, #cccccc 100%);
  padding: 0 1rem;
}

.Header {

  figure {
    max-width: rem(600);
    margin: auto;
    padding: rem(40);
  }

}

main {
  margin: auto;
  max-width: $maxWidth;
}
