$max-width: 75rem;

//Paleta de colores

$dark-blue : #2a4954;
$gray : #e5e5e5;
$white : #fff;


@import "lib/settings";
@import "lib/fonts";
@import "lib/general";
@import "lib/grid";
@import "lib/utilities";

@import "theme/header";
@import "theme/slider";
